@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2CB3F3 ;
}
.titulo{
    text-align: center;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
}
.corpo{
    width: 45vw;
    height: 60vh;
    position: relative;
    top: 5vh;
    left: 28vw;
    background-color:#FFFFFF;
    border-radius: 100px 100px 0px 0px;
}
.rosto{
    background-color: #FFE1C9;
    border-radius: 50%;
    width: 40vw;
    height:  50vh;
    position: relative;
    top: 6vh;
    left: 2.5vw;
}
.olho-esquerdo{
    background-color: black;
    width: 55.7px;
    height: 55.7px;
    border-radius: 100%;
    position: relative;
    top: 15vh;
    left: 13vw;
}
.olho-direito{
    background-color: black;
    width: 55.7px;
    height: 55.7px;
    border-radius: 100%;
    position: relative;
    right: -25vw;
    top: 9vh;
}
.boca-cima{
    width: 12vw;
    height: 4vh;
    position: relative;
    bottom: 10vh;
    left: 17vw;
    border: 3px solid black;
}
.boca-baixo{
    width: 12vw;
    height: 4vh;
    position: relative;
    bottom: 6vh;
    right: -4.79vw;
    border: 3px solid black
}
button{
    background-color:#55A603;
    width: 12vw;
    height: 4vh;
    position: relative;
    top: 10vh;
    left: 45vw;

}